
<div class="container">
  <div class="row">

<!--sidebarテンプレート呼び出し-->
  <%= render 'users/sidebar', user: @user, book: @book %>


    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tr>
          <td>
            <%= image_tag @user.get_profile_image("50x50") %><br>
            <%= link_to @user.name,user_path(@user.id) %>
          </td>
          <td>
            <%= @thisBook.title %>　<!--←仮で全角スペースあり-->
          </td>
          <td>
            <%= @thisBook.body %>
          </td>
          <% if @user == current_user %>
            <td>
              <%= link_to "Edit",edit_book_path(@thisBook.id) %>
            </td>
            <td>
              <%= link_to "Destroy",book_path(@thisBook.id),method: :delete %>
            </td>
          <% end %>
        </tr>
      </table>

    </div>

  </div>
</div>
